# [Advent of Code](https://adventofcode.com/2021)

In [2]:
import numpy as np
import pandas as pd

### Day 1 Puzzle 1
How many measurements are larger than the previous measurement?

In [3]:
measurements = pd.read_csv('Data/day1_puzzle1_depth_measurement.csv') 
measurements

      Measurements
0              132
1              146
2              153
3              175
4              180
...            ...
1995          4462
1996          4460
1997          4465
1998          4473
1999          4474

[2000 rows x 1 columns]

In [4]:
measurements = measurements['Measurements'].tolist()
larger = []

for k in range(len(measurements)):
    if measurements[k] > measurements[k-1]:
        larger.append(measurements[k])

print(len(larger))

1288